/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b11b1b;
  --ifm-color-primary-dark: #9f1818;
  --ifm-color-primary-darker: #961717;
  --ifm-color-primary-darkest: #7c1313;
  --ifm-color-primary-light: #c31e1e;
  --ifm-color-primary-lighter: #cc1f1f;
  --ifm-color-primary-lightest: #df2b2b;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fee14d;
  --ifm-color-primary-dark: #fedb2c;
  --ifm-color-primary-darker: #fed91c;
  --ifm-color-primary-darkest: #e6c101;
  --ifm-color-primary-light: #fee76e;
  --ifm-color-primary-lighter: #fee97e;
  --ifm-color-primary-lightest: #fff2b0;
}

.hidden {
  display: none !important;
}